@import './fonts';
@import './colors';

svg {
  background: aliceblue;
  border: 1px black dashed;
  margin-left: 250px;
}
.alertify-logs {
  top: 10px;
  font-size: 2em;
  .alertify-log {
    width: 350px;
    background-color: $warm-red;
  }
}
.node {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
  text {
    font-size: 20px;
    font-weight: 100;
    font-family: $Roboto;
  }
  &.enter {
    stroke: green;
    text: {
      stroke: green;
    }
  }
  &.exit {
    stroke: red;
    text: {
      stroke: red;
    }
  }
}
