
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

svg {
  background-color: aliceblue;
  border: 1px black dashed;
}
.node {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
  text {
    font-size: 20px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
  }
  &.enter {
    stroke: green;
    text: {
      stroke: green;
    }
  }
  &.exit {
    stroke: red;
    text: {
      stroke: red;
    }
  }
}
