@import './fonts';

svg {
  background-color: aliceblue;
  border: 1px black dashed;
  margin-left: 250px;
}
.node {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
  text {
    font-size: 20px;
    font-weight: 100;
    font-family: $Roboto;
  }
  &.enter {
    stroke: green;
    text: {
      stroke: green;
    }
  }
  &.exit {
    stroke: red;
    text: {
      stroke: red;
    }
  }
}
